body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background: #FFFFFF;
  color: #070707;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
div, p, input, button, form, span,a,ul,li{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans',sans-serif;
  margin: 0;
  font-weight: 700;
}
p{
  line-height: 1.6em;
}
.container{
  width: 940px;
  margin: 0 auto;
}

.nav{
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 33px 0px 32px 0px;
  border-bottom: 2px solid #828282;
}
.nav>li>a{
  text-decoration: none;
  color: #828282;
  line-height: 22px;
  font-weight: 700;
}
.nav a:hover{
  color: #070707;
}
.info{
  display: flex;
  justify-content: space-between;
  color: #070707;
  margin-top: 39.69px;
  margin-bottom: 30px;
}
.name{
  width: 124px;
  font-weight:700;
  font-size: 47.3392px;
  line-height: 59px;
}
.job{
  margin-top: 57.87px;
  width: 165.65px;
  font-weight: 500;
  line-height: 21.83px;
}
.lang{
  transform: rotate(270deg);
  color: #070707;
  font-size: 15px;
  height: 21px;
  vertical-align: bottom;
  margin-right: -26px;
  margin-top: 50px;
}
.lang span{
  color:  #828282;
}
.header{
  margin-bottom: 104px;
}
.aboutme{
  background:#F6F6F6;
  margin: 0 auto;
  padding-bottom: 107px;
  padding-top: 120px;
}
.section-title{
  text-align: center;
  font-size: 34px;
}
.section-text{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.skills{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 107px;
  padding-top: 111px;
}
.progs{
  display: flex;
  justify-content: space-between;
  margin-left: 255.71px;
  margin-right: 252.7px;
  margin-top: 82px;
}
.prog{
  width: 166.46px;
}
.prog-text{
  margin: 28px auto 40px auto;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
}
.portfolio{
  background: #F6F6F6;
  padding-top: 112px;
  padding-bottom: 64px;
}

.example{
  padding-top: 67px;
}
.link{
  padding-top: 44px;
  padding-bottom: 32px;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  color: #070707;
}
.footer{
  color: #070707;
  padding-top: 114px;
}
.btn{
  display: block;
  background: #070707;
  color: #fff;
  width: 180px;
  border-radius: 100px;
  border: none;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 29px auto 0;
  transition: all 0.5s ease;
}
.btn:hover{
  background: #141414;
}
.icons{
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  width: 342px;
  margin: 0 auto;
  padding-bottom: 45px;
}
.footer-text{
  padding-bottom: 123px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #828282;
  font-weight: 500;
}
