body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background: #FFFFFF;
  color: #070707;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

div, p, input, button, form, span, a, ul, li {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-weight: 700;
}

p {
  line-height: 1.6em;
}

.header {
  /* position: fixed;
  z-index: auto; */
  top: 0;
  width: 100%;
  background: #fff;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.nav {
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 33px 0px 30px 0px;
}

.nav>li>a {
  text-decoration: none;
  color: #828282;
  line-height: 22px;
  font-weight: 700;
}

.menu {
  display: none;
}

.nav a:hover {
  color: #070707;
}

.wrapper {
  /* margin-top: 88px; */
  border-top: 1px solid #828282;
}

.info {
  display: flex;
  justify-content: space-between;
  color: #070707;
  margin-top: 40px;
  margin-bottom: 30px;
}

.name {
  width: 124px;
  font-weight: 700;
  font-size: 47.3392px;
  line-height: 59px;
}

.job {
  margin-top: 57.87px;
  width: 165.65px;
  font-weight: 500;
  line-height: 21.83px;
}

.lang {
  transform: rotate(270deg);
  color: #070707;
  font-size: 15px;
  height: 70px;
  width: 70px;
  position: relative;
  margin-top: 29px;
}

.lang p {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.lang-choice {
  color: #828282;
  text-decoration: none;
}
.lang-choice:visited{
  color: #828282;
}

.img {
  width: 100%;
}

.img-home img {
  width: 100%;
}

.home {
  margin-bottom: 104px;
}
.sidebar{
  display: none;
}

.aboutme {
  background: #F6F6F6;
  margin: 0 auto;
  padding-bottom: 107px;
  padding-top: 120px;
}

.section-title {
  text-align: center;
  font-size: 34px;
}

.section-text {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.skills {
  text-align: center;
  padding-bottom: 107px;
  padding-top: 111px;
}

.progs {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
}

.prog {
  width: 166.46px;
}

.prog-text {
  margin: 28px auto 40px auto;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
}

.portfolio {
  background: #F6F6F6;
  padding-top: 112px;
  padding-bottom: 64px;
}

.example {
  padding-top: 67px;
}

.link {
  padding-top: 44px;
  padding-bottom: 32px;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #070707;
}

.contacts {
  color: #070707;
  padding-top: 114px;
}

.btn {
  display: block;
  background: #070707;
  color: #fff;
  width: 180px;
  border-radius: 100px;
  border: none;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 29px auto 0;
  transition: all 0.5s ease;
}
.btn.rus{
  width: 280px;
}

.btn:hover {
  background: #141414;
}

.icons {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  width: 342px;
  margin: 0 auto;
  padding-bottom: 45px;
}

.footer-text {
  padding-bottom: 123px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #828282;
  font-weight: 500;
}

/* Responsive */
/* 993px-1200px */
@media screen and (max-width:1200px) {
  .container {
    width: 960px;
  }
}

/* 769px-992px */
@media screen and (max-width:992px) {
  .container {
    width: 720px;
  }
}

/* 577px-768px */
@media screen and (max-width:768px) {
  .container {
    width: 540px;
  }

  .progs {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: start;
    justify-items: center;
  }

  .prog {
    margin-bottom: 40px;
  }
}

/* 376px-576px */
@media screen and (max-width:576px) {
  .hidden{
    overflow: hidden;
  }
  .sidebar.active{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: scroll;
  }
  .wrapper-menu{
    position: relative;
    height: 100%;
    width: 100%;
  }
  .container {
    width: 85%;
  }

  .header {
    display: none;
  }

  .nav {
    flex-direction: column;
    font-size: 34px;
    padding: 0;
  }

  .nav>li {
    margin: 0px 0px 68px 0px;
  }

  .nav>li>a {
    line-height: 42px;
  }

  .menu, .close {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    padding-top: 68px;
    align-items: flex-end;
  }

  .close {
    align-items: flex-end;
    height: 22px;
    padding-top: 86px;
  }

  .lang2 {
    color: #070707;
    font-size: 34px;
    bottom: 100px;
    right: 0px;
    position: absolute;
  }

  .lang2 p {
    display: block;
    transform: rotate(90deg);
    right: 0;
    margin: 0;
  }

  .wrapper {
    margin-top: 0;
    border: none;
  }

  .info {
    margin-top: 0;
    flex-direction: column;
  }

  .job {
    margin-top: 26px;
  }

  .lang {
    display: none;
  }

  .img-home {
    height: 478px;
    width: 100%;
    background: url('../img/profile2.jpg') no-repeat center;
  }

  .img-home img {
    opacity: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .progs {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    justify-items: center;
  }

  .btn {
    width: auto;
  }
}